@import url('https://fonts.googleapis.com/css?family=Open+Sans');

nav {
  background-color: blue;
  font-size: 30px;
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1{
  font-size: 40px;
}

nav {
  background-color: blue;
  font-size: 30px;
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* YO sup dude */
